repos:
- repo: https://github.com/r0x0d/pre-commit-rust
  rev: v1.0.1
  hooks:
  - id: fmt
    args: ['--', '--verbose']
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/isort
  rev: 5.11.4
  hooks:
  - id: isort
