[project]
name = "ichika"
requires-python = ">=3.8"
description = "基于 RICQ 的轻量级 Python QQ 自动化框架。"
readme = "README.md"
keywords = ["graia", "bot", "qq", "framework", "ricq", "ichika"]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "License :: OSI Approved :: GNU Affero General Public License v3",
    "Natural Language :: Chinese (Simplified)",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Communications",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11"
]

dependencies = [
    "loguru~=0.6.0",
    "graia-broadcast>=0.19.0",
    "creart-graia>=0.1.5",
    "dacite>=1.6.0",
    "graia-amnesia>=0.7.0",
]

dynamic = ["version"]

[project.optional-dependencies]
kayaku = [
    "kayaku>=0.5.0",
]


[build-system]
requires = ["maturin>=0.13,<0.14"]
build-backend = "maturin"

[tool.maturin]
python-source = "python"

[tool.pdm]
[tool.pdm.scripts]
ensure-pip = {shell = "pdm run python -m ensurepip"}
install-deps = {shell = "pdm install --no-self"}
build-rs-devel = {shell = "maturin develop"}
devel = {composite = ["ensure-pip", "install-deps", "build-rs-devel"]}
[tool.pdm.dev-dependencies]
dev = [
    "black>=22.10.0",
    "isort>=5.10.1",
]

